@using Kutyak.DTOs;
@{
    ViewData["Title"] = "Kicsi kutyi pofilya";
}
<h1>@ViewData["Title"]</h1>

<p>Ez a kutyi képe</p>

@if (Model != null)
{
    <img class="img-fluid img-thumbnail" src="@Program.ImageConvert((Model as KutyaGumi).Kep)"/>
}
else
{
    <img style="margin-left:auto;margin-right:auto;display:block" src="~/img/@Program.HibaNevGenerator()" width="300px" />
}
